* {
  margin: 0;
  padding: 0;
}

/* header starts */

nav {
  .logo {
    margin-left: 30px;
  }
  .menu {
    margin-left: 500px;
    ul {
      li {
        margin-right: 20px;
        a {
          color: black;
          font-weight: 700;
          font-size: 18px;
        }
      }
    }
  }
}
/* header ends */

/* banner starts */

.abt-banner {
  background-image: url(images/about-page/about.banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  color: white;
  .txt {
    padding-top: 150px;
    h1 {
      font-weight: 700;
      font-size: 50px;
    }
    p {
      font-size: larger;
    }
  }
}

/* banner ends */

/* under banner starts */

.abt-ubanner {
  background-color: #262626;
  padding-top: 50px;
  padding-bottom: 50px;
  .txt {
    text-align: center;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
  }
}

/* under banner ends */

/* strategy starts */

.strategy {
  margin-top: 100px;
  h2 {
    font-weight: 700;
    padding-bottom: 30px;
  }
  .bx {
    box-shadow: 3px 3px 3px 5px rgb(247, 246, 246);
    padding: 20px 20px 20px 20px;
  }
  .tt {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  .tp {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

/* strategy ends */

/* mission-vision starts */

.sec1 {
  margin-top: 100px;
  background-color: whitesmoke;
  .txt {
    margin-left: 100px;
    margin-top: 70px;
    h2 {
      font-size: 25px;
      font-weight: 700;
    }
    p {
      font-size: 16px;
    }
    .ic {
      img {
        width: 35px;
      }
    }
    .or {
      color: #ff6600;
    }
    .first {
      padding-bottom: 30px;
    }
  }
  .big {
    img {
      width: 100%;
    }
  }
}

/* mission-vision ends */

/* sec2 starts */

.sec2 {
  background-color: #262626;
  color: white;
  padding: 80px 0;
  text-align: center;
  p {
    padding: 20px 0;
  }
  a {
    text-decoration: none;
    background-color: #ff6600;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
  }
  a:hover {
    background-color: #262626;
    border: 1px solid white;
  }
}

/* sec2 ends */

/* footer starts */

footer {
  margin-top: 100px;
  .footer-ctn {
    padding-bottom: 50px;
    img {
      margin-bottom: 20px;
    }
    ul {
      li {
        list-style-type: none;
        padding-bottom: 20px;
        a {
          color: #262626;
          text-decoration: none;
        }
        a:hover {
          color: #ff6600;
        }
      }
    }
    .ll {
      font-size: larger;
      font-weight: 900;
      color: #262626;
    }
    .end {
      display: flex;
      gap: 10px;
    }
  }
  .u-ft {
    border-top: 1px solid #ff6600;
    padding-top: 30px;
    .icons {
      color: #ff6600;
      .br {
        border-left: 1px solid rgb(201, 199, 199);
        border-right: 1px solid rgb(201, 199, 199);
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

/* footer ends */

/* contact page starts */

.ct-hero {
  background-image: url(images/contact-page/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  color: white;
  padding-top: 150px;
  h1 {
    font-weight: 700;
    font-size: 50px;
  }
  p {
    font-weight: 500;
  }
}

/* form starts */

.fm-sec {
  margin-top: 100px;
  .main {
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px rgb(236, 235, 235);
    iframe {
      border-radius: 30px;
    }
    .form-main {
      margin-top: 50px;
      h2 {
        font-weight: 700;
      }
      input {
        margin-bottom: 20px;
        padding: 10px 50px 10px 10px;
        border: none;
        border-radius: 10px;
        background-color: rgb(248, 249, 252);
      }
      textarea {
        padding: 10px 400px 50px 10px;
        border: none;
        border-radius: 10px;
        background-color: rgb(248, 249, 252);
      }
      a {
        text-decoration: none;
        background-color: #ff6600;
        border-radius: 5px;
        color: white;
        padding: 10px 30px;
        margin-top: 20px;
      }
    }
  }
}

/* form ends */

/* last sec starts */

.ct-last {
  margin-top: 100px;
  background-color: rgb(248, 249, 252);
  padding: 25px 20px;
  .insha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    .icons {
      display: flex;
      align-items: center;
      gap: 10px;
      i {
        color: white;
        background-color: #ff6600;
        padding: 15px 15px;
        border-radius: 10px;
      }
    }
  }
  .uq {
    width: 30%;
  }
}

/* last sec ends */

/* contact page ends */

/* it consulting page starts */

/* banner starts */

.consult-banner {
  background-image: url(images/itconsult-page/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  color: white;
  padding-top: 150px;
  h1 {
    font-size: 50px;
    font-weight: 900;
  }
  p {
    font-size: larger;
    font-weight: 500;
  }
}
/* banner ends */

/* under banner starts */

.consult-ubanner {
  background-color: whitesmoke;
  padding: 70px 200px;
  text-align: center;
  h3 {
    font-weight: 700;
    padding-bottom: 15px;
  }
}

/* under banner ends */

/* offering sec starts */

.off-sec {
  margin: 100px 0;
  h3{
    font-weight: 700;
  }
  .off-box {
    padding: 0 20px;
    box-shadow: 5px 5px 5px 5px rgb(236, 235, 235);
    height: 220px;
    border-radius: 30px;
    margin-top: 20px;
    img{
        padding: 20px 0 0 0;
    }
    h5{
        padding: 10px 0;
    }
  }
}

/* offering sec ends */

/* it consulting page ends */

/* Blog page starts */

.blog-bn{
    background-image: url(images/news-page/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    color: white;
    padding-top: 200px;
    h1{
        font-size: 50px;
        font-weight: 900;
    }
}

.blog-sec1{
    margin-top: 80px;
    .box1{
        border: 1px solid rgb(201, 199, 199);
        margin: 25px;
        padding: 20px 20px;
        border-radius: 10px;
        p{
            color: #ff6600;
            font-size: 13px;
        }
        .b1{
            position: relative;
            left: 250px;
        }
        .b2{
            position: relative;
            top: 180px;
            left: 230px;
        }
        .b3{
            position: relative;
            top: 60px;
            left: 250px;
        }
        .b4{
            position: relative;
            top: 40px;
            left: 250px;
        }
    }
}

/* Blog page ends */

/* media query */
@media (max-width: 1285px) {
  nav {
    .menu {
      margin-left: 300px;
    }
  }
  .sec1 {
    .big {
      img {
        width: 100%;
      }
    }
  }

  /* contact page starts */

  .ct-hero {
    height: 500px;
  }
  .fm-sec {
    .main {
      .form-main {
        padding: 0 10px;
        input {
          width: 100%;
        }
        textarea {
          width: 100%;
        }
      }
    }
  }

  /* contact page ends */
}
@media (max-width: 1026px) {
  nav {
    .menu {
      margin-left: 150px;
      ul {
        li {
          margin-right: 15px;
        }
      }
    }
  }
  .abt-banner {
    height: 500px;
  }
  .sec1 {
    .txt {
      margin-left: 20px;
    }
    .big {
      img {
        height: 400px;
      }
    }
  }
  /* it consulting starts */

  .consult-banner {
    height: 500px;
  }

  .consult-ubanner {
    padding: 70px 0;
  }

 /* it consulting ends */

 /* blog page starts */

 .blog-bn{
    height: 500px;
 }
 .blog-sec1{
    .box1{
        .b1{
            position: relative;
            left: 200px;
        }
        .b2{
            position: relative;
            top: 130px;
            left: 200px;
        }
        .b3{
            position: relative;
            top: 30px;
            left: 200px;
        }
        .b4{
            position: relative;
            top: 0;
            left: 200px;
        }
    }
}
 /* blog page ends */
}
@media (max-width: 915px) {
  /* contact page starts */
  .fm-sec {
    .main {
      .form-main {
        textarea {
          padding: 10px 270px 50px 10px;
        }
      }
    }
  }

  /* contact page ends */

  /* it consulting page starts */

  .off-sec{
    .off-box{
        height: 250px;
    }
  }

  /* it consulting page ends */

  /* blog page starts */

 .blog-sec1{
    .box1{
        h5{
            font-size: 14px;
        }
        p{
            font-size: 11px;
        }
        .b1{
            position: relative;
            left: 120px;
        }
        .b2{
            position: relative;
            top: 50px;
            left: 120px;
        }
        .b3{
            position: relative;
            top: 0;
            left: 120px;
        }
        .b4{
            position: relative;
            top: 0;
            left: 120px;
        }
    }
}  

  /* blog page ends */
}
@media (max-width: 770px) {
  .sec1 {
    .big {
      img {
        height: 450px;
      }
    }
  }
}
@media (max-width: 545px) {
  .abt-ubanner {
    .txt {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  footer {
    .u-ft {
      .icons {
        padding-bottom: 20px;
      }
    }
  }
  /* contact-page starts */
  .fm-sec {
    .main {
      padding-bottom: 30px;
    }
  }
  .ct-last {
    .insha {
      display: block;
      .icons {
        padding-bottom: 50px;
      }
    }
    .uq {
      width: auto;
    }
  }

  /* contact-page ends */

  /* blog page starts */

 .blog-sec1{
    .box1{
        h5{
            font-size: 18px;
            padding-top: 20px;
        }
        p{
            font-size: 14px;
        }
        .b1{
            position: relative;
            left: 400px;
        }
        .b2{
            position: relative;
            top: 0;
            left: 400px;
        }
        .b3{
            position: relative;
            top: 0;
            left: 400px;
        }
        .b4{
            position: relative;
            top: 0;
            left: 400px;
        }
    }
}  

  /* blog page ends */
}
@media (max-width: 440px) {
    /* blog page starts */

     .blog-sec1{
    .box1{
        .b1{
            position: relative;
            left: 250px;
        }
        .b2{
            position: relative;
            top: 0;
            left: 250px;
        }
        .b3{
            position: relative;
            top: 0;
            left: 250px;
        }
        .b4{
            position: relative;
            top: 0;
            left: 250px;
        }
    }
}  

    /* blog page ends */
}
@media (max-width: 375px) {
  /* contact us page starts  */
  .fm-sec {
    .main {
      .form-main {
        textarea {
          padding: 10px 140px 50px 10px;
        }
      }
    }
  }
  /* contact us page ends */

    /* blog page starts */

     .blog-sec1{
    .box1{
        .b1{
            position: relative;
            left: 200px;
        }
        .b2{
            position: relative;
            top: 0;
            left: 200px;
        }
        .b3{
            position: relative;
            top: 0;
            left: 200px;
        }
        .b4{
            position: relative;
            top: 0;
            left: 200px;
        }
    }
}  

    /* blog page ends */
}
